@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container {
  min-width: 320px !important;
  width: auto !important;
}
.Toastify__toast-body {
  color: #0f172a;
  font-weight: 100;
  margin-right: 20rem;
  padding-right: 20px !important;
}
.Toastify__toast {
  width: 100%;
  background: #e0f2fe !important;
  top: 80px;
  position: relative;
}

.Toastify__progress-bar--success {
  background-color: #0284c7 !important;
}

.Toastify__progress-bar--error {
  background-color: #e11d48 !important;
}
